@model webCore.Models.Category_admin

@{
    ViewData["Title"] = "Update";
    Layout = "Admin";
}
<link rel="stylesheet" href="/css/create_account.css" />

<div class="form-container">
    <h2>Cập nhật danh mục</h2>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <form asp-action="Update" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />

        <label for="Title">Tên danh mục *</label>
        @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @id = "editTitle", @required = "required" } })

        <label for="Description">Mô tả</label>
        @Html.TextAreaFor(m => m.Description, new { @id = "editDescription", @rows = 4, @cols = 90 })


        <label for="ParentId">Danh mục cha</label>
        @Html.DropDownListFor(m => m.ParentId, new SelectList(ViewBag.Categories, "Id", "Title"), "Không có", new { @id = "ParentId", @class = "form-control" })

        <div class="status">
            <label>Trạng thái</label>
            <input type="radio" id="editActive" name="Status" value="Hoạt động" @(Model.Status == "Hoạt động" ? "checked" : "") />
            <label for="editActive" class="active">Hoạt động</label>
            <input type="radio" id="editInactive" name="Status" value="Không hoạt động" @(Model.Status == "Không hoạt động" ? "checked" : "") />
            <label for="editInactive" class="inactive">Dừng hoạt động</label>
        </div>

        <button type="submit">Cập nhật</button>
    </form>
</div>