@model webCore.Models.Product_admin

@{
    ViewData["Title"] = "Update";
    Layout = "Admin";
}
<link rel="stylesheet" href="/css/create_account.css" />

<div class="form-container">
    <h2>Cập nhật sản phẩm</h2>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <form asp-action="Update" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />

        <label for="Title">Tên sản phẩm *</label>
        @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @id = "editTitle", @required = "required" } })

        <label for="Image">Hình ảnh</label>
        <input type="file" id="Image" name="Image" accept="image/*" onchange="previewImage(event)" />

        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <div>
                <img id="currentImage" src="@Model.Image" alt="Current Image" style="max-width: 200px; max-height: 200px;" />
            </div>
        }

        <img id="preview" alt="Image Preview" style="max-width: 200px; max-height: 200px; display: none;" />

        <label for="Description">Mô tả</label>
        @Html.TextAreaFor(m => m.Description, new { @id = "editDescription", style = "width: 100%; height: 200px;" })


        <div class="status">
            <label>Đặc trưng</label>
            <input type="radio" id="editFeatured" name="featured" value="0" @(Model.Featured == 0 ? "checked" : "") />
            <label for="editFeatured" class="active">Nổi bật</label>
            <input type="radio" id="editNew" name="featured" value="1" @(Model.Featured == 1 ? "checked" : "") />
            <label for="editNew" class="new">Mới</label>
            <input type="radio" id="editSuggest" name="featured" value="2" @(Model.Featured == 2 ? "checked" : "") />
            <label for="editSuggest" class="suggest">Gợi ý</label>
            <input type="radio" id="editNo" name="featured" value="3" @(Model.Featured == 3 ? "checked" : "") />
            <label for="editNo" class="no">Không nổi bật</label>
        </div>

        <label for="CategoryId">Danh mục</label>
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(ViewBag.Categories, "Id", "Title"), "Không có", new { @id = "CategoryId", @class = "form-control" })
        
        <label for="Price">Giá</label>
        @Html.EditorFor(m => m.Price, new { htmlAttributes = new { @id = "editPrice" } })

        <label for="DiscountPercentage">Giảm giá</label>
        @Html.EditorFor(m => m.DiscountPercentage, new { htmlAttributes = new { @id = "editDiscountPercentage" } })

        <label for="Stock">Số lượng</label>
        @Html.EditorFor(m => m.Stock, new { htmlAttributes = new { @id = "editStock" } })


        <div class="status">
            <label>Trạng thái</label>
            <input type="radio" id="editActive" name="Status" value="Hoạt động" @(Model.Status == "Hoạt động" ? "checked" : "") />
            <label for="editActive" class="active">Hoạt động</label>
            <input type="radio" id="editInactive" name="Status" value="Không hoạt động" @(Model.Status == "Không hoạt động" ? "checked" : "") />
            <label for="editInactive" class="inactive">Dừng hoạt động</label>
        </div>
        

        <button type="submit">Cập nhật</button>
    </form>

</div>
<script src="/js/update_img.js"></script>